<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/userbase::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>

		<div class="card m-3">

			<div class="card-body">
				<h1 class="text-center">

					Your contact id
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col">#ID</th>
								<th scope="col">Name</th>
								<th scope="col">Email</th>
								<th scope="col">Phone</th>
								<th scope="col">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="c:${contacts}">
								<th scope="row" th:text="${'SCM2020'+c.id}">1</th>
							
								
								<td>
									<img src="" class="my_profile_picture" th:src="@{'/img/'+${c.image}}" alt=""/>
								
								<span th:text="${c.name}"></span></td>
								<td>
								<a href="#" th:href="@{'/user/'+${c.id}+'/contact'}">
								
								<span th:text="${c.email}"></span>
								
								</a>
								
								</td>
								<td th:text="${c.phone}">Otto</td>


								<td>
								<!-- <a th:href="@{'/user/delete/'+${c.id}}" class="btn btn-danger">Delete</a> -->
								
									<a href="#" th:onclick="|deleteContact(${c.id})|" class="btn btn-danger">Delete</a>
									
									<form method="post" th:action="@{'/user/update-contact/'+${c.id}}" class="mt-2">
									
									<button type="submit" class="btn btn-success">Update</button>
									
									
									</form>
									

								</td>
							</tr>

						</tbody>
					</table>

				

				</h1>

			</div>

<!-- paginatin -->
					<nav aria-label="Page navigation example">
						<ul class="pagination">
							<li th:if="${currentPage+1 !=0}" class="page-item"><a th:href="@{'/user/showcontacts/'+${currentPage-1}}" class="page-link" href="#"
								tabindex="-1">Previous</a></li>

							<li th:classappend="${currentPage==i-1?'active':''}" th:each="i : ${#numbers.sequence(1,totalPages)}" class="page-item"><a th:href="@{'/user/showcontacts/'+${i-1}}" class="page-link" href="#"><span th:text="${i}"></span></a></li>

							<li th:if="${currentPage+1 !=totalPages}" class="page-item"><a th:href="@{'/user/showcontacts/'+${currentPage-1}}" class="page-link" href="#">Next</a>
							</li>
						</ul>

					</nav>

		</div>
			
	</section>
</body>
</html>