<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<li class="nav-item" style="color: rgb(240, 255, 254)"><a
		class="nav-link" href="home">home</a></li>

	<li class="nav-item" style="color: rgb(240, 255, 254)"><a
		class="nav-link" href="base">base</a></li>

	<li class="nav-item" style="color: rgb(240, 255, 254)"><a
		class="nav-link" href="about">about</a></li>

	<li class="nav-item" style="color: rgb(240, 255, 254)"><a
		class="nav-link" href="signup">signup</a></li>

	<li class="nav-item" style="color: rgb(240, 255, 254)"><a
		class="nav-link" href="@{user/user_dashboard}">user_dashboard</a></li>

	<li class="nav-item" style="color: rgb(240, 255, 254)"><a
		class="nav-link" href="/logout">logout</a></li>

	<li class="nav-item" style="color: rgb(240, 255, 254)"><a
		class="nav-link" href="/signin">login</a></li>

	<li class="nav-item" style="color: rgb(240, 255, 254)"><a
		class="nav-link" href="@{user/add_contact_form}">add_contact_form</a></li>
		
	<li class="nav-item" style="color: rgb(240, 255, 254)"><a
		class="nav-link"   href=""></a></li>
		
	<li class="nav-item" style="color: rgb(240, 255, 254)"><a
		class="nav-link" href=""></a></li>
		
	<li class="nav-item" style="color: rgb(240, 255, 254)"><a
		class="nav-link" href=""></a></li>
		
	<li class="nav-item" style="color: rgb(240, 255, 254)"><a
		class="nav-link" href=""></a></li>
		
	<li class="nav-item" style="color: rgb(240, 255, 254)"><a
		class="nav-link" href=""></a></li>
		
	<li class="nav-item" style="color: rgb(240, 255, 254)"><a
		class="nav-link" href=""></a></li>
		
	<li class="nav-item" style="color: rgb(240, 255, 254)"><a
		class="nav-link" href=""></a></li>
		
	<li class="nav-item" style="color: rgb(240, 255, 254)"><a
		class="nav-link" href=""></a></li>
		
	<li class="nav-item" style="color: rgb(240, 255, 254)"><a
		class="nav-link" href=""></a></li>



</body>
</html>